In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
# help(pd.Series) # to get methods

In [4]:
# Creating normal python list

myindex = ['USA', 'CANADA', 'MEXICO']

In [5]:
mydata = [1776, 1867, 1821]

In [6]:
myser = pd.Series(data=mydata)

In [7]:
# Internally pd.Series convert python list into numpy array

# type(myser) pandas.core.Series.Series
myser

0    1776
1    1867
2    1821
dtype: int64

In [8]:
myser = pd.Series(data=mydata, index=myindex) # providing labeled index

# NOTE: Also arguments (data= and index=) are not concerned if we pass arguments in right order

In [9]:
myser

USA       1776
CANADA    1867
MEXICO    1821
dtype: int64

In [10]:
myser[0] # numeric index

1776

In [11]:
myser['USA'] # labeled index

1776

In [12]:
# We can also use dictionary

ages =  {'Sam': 5, 'Frank': 10, 'Spike': 7}

pd.Series(ages) # Pandas will automatically convert dictionary into labeled index and data

Sam       5
Frank    10
Spike     7
dtype: int64

## Series - Part Two

In [13]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company

q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [14]:
sales_q1 = pd.Series(q1)

In [15]:
sales_q2 = pd.Series(q2)

In [16]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [17]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [18]:
sales_q1['Japan'] # Key passed must be exact as when created otherwise it shows error

80

In [19]:
# To get/grab keys

sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [20]:
# Perform broadcast operations as it is based on numpy

# [1, 2] * 2 gives [1, 2, 1, 2]
# 
# np.array([1, 2]) * 2 gives array([2, 4])
# 
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [21]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [22]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [23]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [24]:
sales_q1 + sales_q2

# NOTE: The values not present in any of the Series will then give NaN as value while performing above operation

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [25]:
# Adding Brazil and Japan to the series

first_half = sales_q1.add(sales_q2, fill_value=0)

# NOTE: Fill value means providing values to the data that is not present in both the tables.

# While performing operations like above the data type also gets changed from int64 to float64

In [26]:
sales_q1.dtype

dtype('int64')

In [27]:
first_half.dtype

dtype('float64')