## Pandas Input and Output - SQL Databases

In [2]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.41-cp310-cp310-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 914.6 kB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.3-cp310-cp310-win_amd64.whl (101 kB)
     ------------------------------------ 101.7/101.7 kB 582.3 kB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.3 sqlalchemy-1.4.41
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [4]:
pip install db-sqlite3

Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting db
  Downloading db-0.1.1.tar.gz (3.4 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting antiorm
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     ------------------------------------ 172.0/172.0 kB 323.4 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py): started
  Building wheel for db-sqlite3 (setup.py): finished with status 'done'
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1794 sha256=eac6f27926cb93875c3a23dac431d743e43bc33e51efa2fd25a172f4eb246093
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\a6\b7\83\e941e0a0e04f417982e718ae7295d1e82b5f2863a1c51edd71
  Building wheel for db (setup.py): started
  Building wheel for db (setup.py): finished with status 'done'
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3895 sha256=197cccc95d925bb38cf6fa326c0fbc7fd1dc56ab52a535f150c9bf21d06d43fc
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\7d\e4\df\bc55b93af204ab098d9effec76f6889ad12d7ad74e833c4910
  Building wheel for antiorm (setup.py): started
  Building wheel for antiorm (setup.py): finished with status 'done'
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31679 sha256=26ee319e75f6142159c4e5a8ad2e8c623fad3091272ef53e70111f8900dc772c
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\30\9f\7e\b7c95b391cfa77a9e722d359e9c669cf6c8d798d748aec5091
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [5]:
pip install pysqlite

Collecting pysqlite
  Downloading pysqlite-2.8.3.tar.gz (80 kB)
     -------------------------------------- 80.6/80.6 kB 408.9 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [1 lines of output]
      pysqlite is not supported on Python 3. When using Python 3, use the sqlite3 module from the standard library.
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.
WARNING: There was an error checking the latest version of pip.

In [6]:
import numpy as np
import pandas as pd

from sqlalchemy import create_engine

In [8]:
# creating temporary database in RAM for further use

temp_db = create_engine('sqlite:///:memory:')

# NOTE: Refer google for different SQL engines.

In [9]:
# creating random data to store in temp_db

df = pd.DataFrame(data=np.random.randint(low=0, high=100, size=(4,4)), columns=['a', 'b', 'c', 'd'])

In [10]:
df

    a   b   c   d
0  74  49  32  31
1  46  72  66   1
2  52  86  77  75
3  65  23  64  71

In [11]:
# now writing data to temp_db created

df.to_sql(name='new_table', con=temp_db, index=False)

# NOTE: con here is the engine created or temporary database created.

4

NOTE: Keep in mind that based on database size you need to read it because sometimes having larager database creates a lot of DFs and DFs are stored in RAM. So, it creates a lot of unnecessary RAM usage.

In [13]:
# to read entire database
new_df = pd.read_sql(sql='new_table', con=temp_db)

In [14]:
new_df

    a   b   c   d
0  74  49  32  31
1  46  72  66   1
2  52  86  77  75
3  65  23  64  71

In [16]:
# NOTE: Using SQL query to grab specific rows or columns

result = pd.read_sql_query(sql='SELECT a,c FROM new_table', con=temp_db)

In [17]:
result

    a   c
0  74  32
1  46  66
2  52  77
3  65  64