In [1]:
import numpy as np

In [3]:
import pandas as pd

In [5]:
# help(pd.Series) # to get methods

In [6]:
# Creating normal python list

myindex = ['USA', 'CANADA', 'MEXICO']

In [7]:
mydata = [1776, 1867, 1821]

In [8]:
myser = pd.Series(data=mydata)

In [10]:
# Internally pd.Series convert python list into numpy array

# type(myser) pandas.core.Series.Series
myser

0    1776
1    1867
2    1821
dtype: int64

In [19]:
myser = pd.Series(data=mydata, index=myindex) # providing labeled index

# NOTE: Also arguments (data= and index=) are not concerned if we pass arguments in right order

In [20]:
myser

USA       1776
CANADA    1867
MEXICO    1821
dtype: int64

In [21]:
myser[0] # numeric index

1776

In [22]:
myser['USA'] # labeled index

1776

In [23]:
# We can also use dictionary

ages =  {'Sam': 5, 'Frank': 10, 'Spike': 7}

pd.Series(ages) # Pandas will automatically convert dictionary into labeled index and data

Sam       5
Frank    10
Spike     7
dtype: int64