## Pandas Input and Output - CSV Files

NOTE: For reading csv file pandas.read_csv() and for write DataFrame.to_csv()

NOTE: 1. Working directory & File contained/stored directory
    2. File name

In [1]:
import pandas as pd

In [3]:
pwd # NOTE: Location and format of file path as for different OS it is different

'c:\\Users\\Lenovo\\Desktop\\DATA_SCIENCE\\05_pandas'

In [4]:
ls # NOTE: List of files contained in current directory.

 Volume in drive C has no label.
 Volume Serial Number is A4F7-6420

 Directory of c:\Users\Lenovo\Desktop\DATA_SCIENCE\05_pandas


 Directory of c:\Users\Lenovo\Desktop\DATA_SCIENCE\05_pandas


 Directory of c:\Users\Lenovo\Desktop\DATA_SCIENCE\05_pandas


 Directory of c:\Users\Lenovo\Desktop\DATA_SCIENCE\05_pandas


 Directory of c:\Users\Lenovo\Desktop\DATA_SCIENCE\05_pandas


 Directory of c:\Users\Lenovo\Desktop\DATA_SCIENCE\05_pandas


 Directory of c:\Users\Lenovo\Desktop\DATA_SCIENCE\05_pandas


 Directory of c:\Users\Lenovo\Desktop\DATA_SCIENCE\05_pandas


 Directory of c:\Users\Lenovo\Desktop\DATA_SCIENCE\05_pandas

"NOTE:" is not a recognized device.
"NOTE:" is not a recognized device.
File Not Found

For not using juypter notebook use os library as shown below to get current directory same as pwd command

In [5]:
import os

os.getcwd()

'c:\\Users\\Lenovo\\Desktop\\DATA_SCIENCE\\05_pandas'

In [6]:
df = pd.read_csv('example.csv')

In [7]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

To not include first row as head/column while creating DFs

In [8]:
df = pd.read_csv('example.csv', header=None)

df

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

To create first column of file as index

In [9]:
df = pd.read_csv('example.csv', index_col=0)

df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

NOTE: While saving keep in mind that index will be included by default to exclude set the index parameter to False.

In [10]:
df = pd.read_csv('example.csv')

In [11]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [12]:
df.to_csv('newfile.csv', index=False)

In [14]:
# NOTE: To check newfile.csv read it again

pd.read_csv('newfile.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15