## numpy array

In [1]:
import numpy as np

In [2]:
my_list = [1,2,3]

In [3]:
type(my_list)

list

In [4]:
np.array(my_list)

array([1, 2, 3])

In [5]:
# From above it does not mean that original list gets converted as you can see below
type(my_list)

list

In [6]:
my_arr = np.array(my_list)

In [7]:
my_arr

array([1, 2, 3])

In [8]:
type(my_arr)

numpy.ndarray

In [9]:
# Creating 2D array using python list
arr = [[1,2,3],[4,5,6],[7,8,9]]

my_arr2 = np.array(arr)

In [10]:
my_arr2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [11]:
type(my_arr2)

numpy.ndarray

In [12]:
# creating array without using python list with using in-built functions
# Syntax: np.arange(start, end(but not included), step)
# NOTE: arange is almost equivalent to range function in python
np.arange(0, 10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
np.arange(0, 11, 2)

array([ 0,  2,  4,  6,  8, 10])

In [14]:
# To create array of any size with zeros or ones value contained by each element use below:
# NOTE: Keep in mind that while passing shape if you pass only number then it creates 1D array with specific floating point values (0., 1.)
# And if you are passing shape in tuple form like (2, 2) it means 2 rows and 2 columns
# For zeroes use np.zeros(shape) and for ones use np.ones(shape)

np.zeros(5)

array([0., 0., 0., 0., 0.])

In [16]:
np.zeros((2,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [17]:
np.ones(4)

array([1., 1., 1., 1.])

In [18]:
np.ones((4,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [19]:
# Using linspace to create array from start to end with included end and with specified number of elements
# Syntax: np.linspace(start, end, numberOfElements)
np.linspace(0, 10, 3)

array([ 0.,  5., 10.])

In [20]:
np.linspace(0, 10, 11) # NOTE: Keep in mind that as numberOfElements passed over here is 11 because in this function end is also included

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [21]:
# If you do below:
np.linspace(0, 10, 10)

array([ 0.        ,  1.11111111,  2.22222222,  3.33333333,  4.44444444,
        5.55555556,  6.66666667,  7.77777778,  8.88888889, 10.        ])

In [23]:
# To create identical matrix
# Syntax: np.eye(shape(but only single number as it creates 2D with same number of rows and columns with diagonal values as 1, and remaining element values as 0.))
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])